:root{
  --attribute-color:color: hsl(228, 45%, 44%);
  --soft-blue:hsl(231, 69%, 60%);
  --soft-red:hsl(0, 94%, 66%);
  --gray-blue:hsl(229, 8%, 60%);
  --dark-blue:hsl(229, 31%, 21%);
  --white-color:white;
}
